/embeddingGeneration/__pycache__/
/embeddingGeneration/dump/
/embeddingGeneration/tmp/
/vectorStore/pgvector
/vectorStore/solr
/retrievalService
vectorStore/faiss/ingestDataIntoFAISS/new_build_faiss.py
/vectorStore/faiss/ingestDataIntoFAISS/dump